.card {
    border: 1px solid rgb(238, 236, 236);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding: 20px;
}
.flex {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 500px 200px;
}
.flex main, .body main {
    display: flex;
    gap: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.body > div {
    background-color: azure;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(216, 248, 248);
}
